<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cloud-storage-newstracker.s3.jp-tok.cloud-object-storage.appdomain.cloud/signup.css">
    <title>Sign In</title>
</head>
<body>
    <form method="POST" class="box">
        <h1>login</h1>
        {% if msg %}
            <span>{{ msg }}</span>
        {% endif %}
        <input type="text" name="email" placeholder="Email" />
        <input type="password" name="password" placeholder="Password" />
        <input type="submit" value="Login" />
        <h4>Not a member? <a href="/sign-up">Sign up</a></h4>
      </form> 
</body>
</html>